test-app1/src/main/mule/test-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d1b5110a-15ca-41f8-8fb0-dad410faeec4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-appFlow" doc:id="f9cb4188-5638-4371-a7bc-222f103e982d" >
		<http:listener doc:name="Listener" doc:id="f82dd2b5-a125-4c34-8999-022ffcdcf74f" config-ref="HTTP_Listener_config" path="/hellotest"/>
		<set-payload value="Hello tetsapp1" doc:name="Set Payload" doc:id="bac6d5fb-b0fd-4f19-ab5e-27534348c108" />
		<logger level="INFO" doc:name="Logger" doc:id="d0c90f06-7247-4a89-b092-4d9db1fccb0a" message="#[payload]"/>
	</flow>
</mule>
